.card{
    width: 400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

select{
    height: 35px;
    border-radius: 3px;
    border: rgb(206,212,218) solid 1px;
    outline: none;
}